<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MercadoLiebre</title>
        <!--FUENTE DE TEXTO--><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
        <!--SÍMBOLOS--><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <!--NORMALIZE--><link rel="stylesheet" href="/css/normalize.css">
        <!--ESTILOS PERSONALIZADOS-->
        <link rel="stylesheet" href="/css/HOME-0-BODY.css">
        <link rel="stylesheet" href="/css/HOME-1-HEADER.css">
        <link rel="stylesheet" href="/css/HOME-2-MAIN.css">
        <link rel="stylesheet" href="/css/HOME-3-FOOTER.css">
        <link rel="stylesheet" href="/css/HOME-4-MEDIA-QUERIES.css">
        <link rel="stylesheet" href="/css/HOME-ANIMATION.css">
    </head>
    <body>
        <header>
            <section id="logo-buscar-y-cuotas"> <!-- LOGO / BÚSQUEDA / CUOTAS -->
                <div id="logo-ML"> <!---LOGO-->
                    <a href="/"><img src="/img/logo-mercado-liebre.svg"  alt="Logo ML"></a>
                </div>
                <div id="búsqueda"> <!--BÚSQUEDA-->
                    <input type="text" placeholder="Buscá productos y marcas">
                    <button><i class="fas fa-search"></i></button>
                </div>
                <div> <!--CUOTAS-->
                    <p class="centrado" id="cuotas">
                        <i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </p>
                </div>
            </section>
            <nav> <!-- LISTADO DE OPCIONES -->
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <section> <!-- ÍCONO DE HAMBURGUESA -->
                <p class="centrado">
                    <button id="burger-menu"><i class="fas fa-bars"></i></button>
                </p>
            </section>
        </header>
        <section class="w100"> <!--Banner-->
            <img class="w100" src="/img/img-home-banner.jpg" alt="Banner" srcset="">
        </section>
        <main>
            <h2 id="comienzo-artículos">Basado en tu última visita</h2>
            <section>
                <article> <!--Cafetera-->
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" srcset="">
                    <div id="box-articulo">
                        <i class="fas fa-truck" id="camioncito"></i>
                        <div class="misma-fila">
                            <p id="precio">$6.770</p>
                            <p id="descuento">40% off</p>
                        </div>
                        <p id="descripción">Cafetera Moulinex</p>
                    </div>
                </article>
                <article> <!--MacBook-->
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" srcset="">
                    <div id="box-articulo">
                        <i class="fas fa-truck truck-icon" id="camioncito"></i>
                        <div class="misma-fila">
                            <p id="precio">$230.000</p>
                            <p id="descuento">20% off</p>
                        </div>
                        <p id="descripción">MacBook Pro 2019</p>
                    </div>
                </article>
                <article> <!--Celular-->
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" srcset="">
                    <div id="box-articulo">
                        <i class="fas fa-truck truck-icon" id="camioncito"></i>
                        <div class="misma-fila">
                            <p id="precio">$70.500</p>
                            <p id="descuento">10% off</p>
                        </div>
                        <p id="descripción">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article> <!--TV-->
                    <img src="/img/img-tv-samsung-smart.jpg" alt='SmartTv Samsung 43"' srcset="">
                    <div id="box-articulo">
                        <i class="fas fa-truck truck-icon" id="camioncito"></i>
                        <div class="misma-fila">
                            <p id="precio">$23.200</p>
                            <p id="descuento">5% off</p>
                        </div>
                        <p id="descripción">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
            <h2>Ofertas</h2>
            <section>
                <article> <!--Cafetera-->
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" srcset="">
                    <div id="box-articulo">
                        <i class="fas fa-truck" id="camioncito"></i>
                        <div class="misma-fila">
                            <p id="precio">$6.770</p>
                            <p id="descuento">40% off</p>
                        </div>
                        <p id="descripción">Cafetera Moulinex</p>
                    </div>
                </article>
                <article> <!--MacBook-->
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" srcset="">
                    <div id="box-articulo">
                        <i class="fas fa-truck truck-icon" id="camioncito"></i>
                        <div class="misma-fila">
                            <p id="precio">$230.000</p>
                            <p id="descuento">20% off</p>
                        </div>
                        <p id="descripción">MacBook Pro 2019</p>
                    </div>
                </article>
                <article> <!--Celular-->
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" srcset="">
                    <div id="box-articulo">
                        <i class="fas fa-truck truck-icon" id="camioncito"></i>
                        <div class="misma-fila">
                            <p id="precio">$70.500</p>
                            <p id="descuento">10% off</p>
                        </div>
                        <p id="descripción">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article> <!--TV-->
                    <img src="/img/img-tv-samsung-smart.jpg" alt='SmartTv Samsung 43"' srcset="">
                    <div id="box-articulo">
                        <i class="fas fa-truck truck-icon" id="camioncito"></i>
                        <div class="misma-fila">
                            <p id="precio">$23.200</p>
                            <p id="descuento">5% off</p>
                        </div>
                        <p id="descripción">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <section id="pie-de-página">
                <div> <!--Pagá con tarjeta o en efectivo-->
                    <p><i class="fas fa-credit-card"></i></p>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div><!--Envío gratis-->
                    <p><i class="fas fa-gift"></i></p>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div><!--Seguridad-->
                    <p><i class="fas fa-user-shield"></i></p>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </section>
            <section><!--Copyright-->
                <p class="izquierda" id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </body>
</html>