<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <img src="img/logo-mercado-liebre.svg" alt="Logo ML" srcset="">
        <p>Búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <p></p>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
            <p></p>
            <li><a href="#">Crea tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
            <p></p>
        </nav>
    </header>
    <section>
        <h3>Basado en tu última visita</h3>
        <article>
            <img src="img/img-cafetera-moulinex.jpg" width="240" alt="Cafetera Moulinex" srcset="">
            <p>$6.770</p>
            <p>40% off</p>
            <p>Cafetera Moulinex</p>
        </article>
        <article>
            <img src="img/img-macbook-pro-2019.jpg" width="240" alt="MacBook Pro 2019" srcset="">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
        </article>
        <article>
            <img src="img/img-samsung-galaxy-s10.jpg" width="240" alt="Samsung Galaxy S10" srcset="">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
        </article>
        <article>
            <img src="img/img-tv-samsung-smart.jpg" width="240" alt='SmartTv Samsung 43"' srcset="">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
        </article>
    </section>
    <section>
        <h3>Ofertas</h3>
        <article>
            <img src="img/img-cafetera-moulinex.jpg" width="240" alt="Cafetera Moulinex" srcset="">
            <p>$6.770</p>
            <p>40% off</p>
            <p>Cafetera Moulinex</p>
        </article>
        <article>
            <img src="img/img-macbook-pro-2019.jpg" width="240" alt="MacBook Pro 2019" srcset="">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
        </article>
        <article>
            <img src="img/img-samsung-galaxy-s10.jpg" width="240" alt="Samsung Galaxy S10" srcset="">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
        </article>
        <article>
            <img src="img/img-tv-samsung-smart.jpg" width="240" alt='SmartTv Samsung 43"' srcset="">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
        </article>
    </section>
</body>
<footer>
    <div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>    
</footer>
</html>