/* GENERAL */
main {
    background-color: var(--Gris-claro);
}

/* SECCIONES DE ARTÍCULOS */
main section, main h2 {
    width: 90vw;
    margin: 10px auto;
}
main section img {width: 100%}

/* SEPARACIÓN ENTRE ARTÍCULOS */
main section article {margin-bottom: 10px}

/* FORMATO PARA LA "CAJA" CAMIONCITO-PRECIO-DESCUENTO-DESCRIPCIÓN */
#box-articulo {
    border-top: 1px solid var(--Gris-claro);
    padding: 15px;
    background-color: var(--Blanco);
    position: relative;
    width: 100%;
}

/* FONTS ESPECÍFICOS*/
#precio {
    font-size: 18px;
    margin-right: 10px;
}
#descuento {
    color: var(--Verde);
}
#descuento, #descripción {font-size: 16px}

/* LOGO DEL CAMIONCITO */
#camioncito {
    color: var(--Verde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--Verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }
