/* FORMATO PARA MOBILE */
@media (max-width: 767px) {
    /* OCULTAR EL MENÚ CON LAS OPCIONES */
    header nav {display: none}
    /* OCULTAR LA DESCRIPCIÓN DEL ARTÍCULO */
    #descripción {display: none}
}


/* FORMATO PARA TABLET */
@media (min-width: 768px) {
    /* ENCABEZADO --> OCULTAR EL ÍCONO DE HAMBURGUESA */
    #burger-menu {display: none}
    /* ENCABEZADO --> PRIMERA FILA EN 3 PARTES */
    header section#logo-buscar-y-cuotas div {width: 33%}
    /* ENCABEZADO --> SEGUNDA FILA EN 2 PARTES */
    header nav {display: flex;justify-content: space-around;}
    header nav ul {display: flex;justify-content: space-evenly;width: 45%;}
    /* SECCIONES DE CAJAS DE ARTÍCULOS - FORMATO FLEX */
    main section {display: flex;flex-wrap: wrap;justify-content: space-between;}
    /* CAJA' DE CADA ARTÍCULO (IMAGEN + BOX) - FORMATO */
    main section article {box-shadow: 0px 0px 10px rgb(100, 100, 100)}
    main section article {width:47%}
}

/* FORMATO PARA DESKTOP */
@media (min-width: 1200px) {main section article {width:22%}}