/* GENERAL */
footer {
    color: var(--Gris-oscuro);
    text-align: center;
    padding: 24px;
}

/* ÍCONOS */
footer i {
    margin-top: 40px;
    font-size: 2.5em;
    color: var(--Celeste);
    margin-bottom: 10px
}

/* COPYRIGHT */
#copyright {margin-top: 40px}
